* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.center {    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    height: 500px;
    position: relative;
}

.container.header {
    background: url("../img/jumbo.png") no-repeat 50% 50%;
    background-size: cover;
    position: relative;
}

.section-container,hr {
    width: 1200px;
    margin: 0 auto;
}

.fl, .fr, nav ul, nav ul li {
    display: inline-block;
}

.fl {
    float: left
}

.fr {
    float: right;
}

nav {
    text-align: center;
    padding-top: 15px;
    line-height: 40px;
}
      
nav ul {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    margin-left: 50px;
}

.button-small {
    text-decoration: none;
    border: none;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    line-height: 20px;
}

.button-big {
    text-decoration: none;
    border: none;
    border-radius: 20px;
    padding: 12px 22px;
    text-align: center;
    line-height: 20px;
    font-size: 18px;
}

.button-center {
    text-align: center;
    margin: 20px auto;
}

.jumbotron.center {
    color: white;
    text-align: center;
}

.jumbotron h1 {
    font-size: 50px;
    padding-bottom: 50px;
}

.jumbotron p {
    font-size: 20px;
    width: 750px;
    line-height: 30px;
}

.jumbotron button {
    margin: 20px;
}

.box-img {
    width:60%;
}

.box-img img{
    width: 100%;
}

.section-text {
    width: 30%;
}

.box-img.s1 {
    position: absolute;
}

.section-text h2{
    font-size: 36px;
    padding: 25px 0;
}

.container.gray {
    background-color: #ccc;
}

.big.container {
    height: 900px;
    position: relative;
}


.last.section-text {
    text-align: center;
    width: 100%;
}

.last.box-img img, .last.box-img {
    width: 100%;
}

.container.footer {
    background-color: #23272a
}

.new-adventure {
    margin: 0 auto;
    width: 450px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: url("../img/stars.svg") 40px 30px;
    background-size: cover;
}

.new-adventure h3{
    font-size: 22px;
}

.box-footer {
    margin-top: 50px;
    width: 20%;
}

.box-footer.contact h2 {
    font-size: 24px;
    padding-bottom: 20px;
}

.box-footer ul {
    list-style: none;
    padding-bottom: 50px;
}

.box-footer ul li {
    font-size: 14px;
    padding-top: 10px;
    color: white;
}

.flag, .flag img {
    height: 10px;
}

.section-container.space {
    padding-top: 20px;
}

.box-footer ul li a {
    text-decoration: none;
    color: white;
}

.wave {
    width: 100%;
}

.wave svg {
    display: block;
}

.wave.rotate {
    transform: rotate(180deg);
    transform-origin: 50% 50%;
}

/* ----------------------------------------------------------- */

.white {
    background-color: white;
    color: black;
}

.black {
    background-color: #333;
    color: white;
}

.blue {
    background-color: #5865f2;
    opacity: 0.6;
    color: white;
}


.box-footer h2, .box-footer h3, hr {
    color: #5865f2;
}