* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container.header {
    background: url("../img/jumbo.png") no-repeat 50% 50%;
    background-size: cover;
    height: 70vh;
    position: relative;
}

.section-container {
    width: 1200px;
    margin: 0 auto;
}

.fl, .fr, nav ul, nav ul li {
    display: inline-block;
}

.fl {
    float: left
}

.fr {
    float: right;
}

nav {
    text-align: center;
    padding-top: 15px;
    line-height: 40px;
}
      
nav ul {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    margin-left: 50px;
}

.button-small {
    text-decoration: none;
    border: none;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    line-height: 20px;
}

.button-big {
    text-decoration: none;
    border: none;
    border-radius: 20px;
    padding: 12px 22px;
    text-align: center;
    line-height: 20px;
    font-size: 18px;
}

/* ----------------------------------------------------------- */

.white {
    background-color: white;
    color: black;
}

.black {
    background-color: #333;
    color: white;
}

.jumbotron {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.jumbotron h1 {
    font-size: 50px;
    padding-bottom: 50px;
}

.jumbotron p {
    font-size: 20px;
    width: 750px;
    line-height: 30px;
}

.jumbotron button {
    margin: 20px;
}